menu {
  background-color: rgb(196, 243, 255);
}
h2 {
  margin-right: auto;
  padding: 10px;
  background-color: rgba(177, 255, 255, 0.897);
}
body {
  background: linear-gradient(30deg, rgb(255, 174, 187), rgb(131, 236, 255));
}
